.contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
  &__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    flex-wrap: wrap;
    width: 100%;
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
  }
  &__subtitle {
    font-weight: 700;
  }
  &__description {
    &__social {
      display: flex;
      gap: 4px;
      align-items: center;
      & svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__link,
  &__address,
  &__social,
  &__info,
  &__legal,
  &__inn {
    display: flex;
    flex-direction: column;
    min-width: 450px;
    gap: 8px;
  }
}
