.payments {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;

  &__table {
    height: 100%;
  }

  &__pagination {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
