.upper {
    border-radius: 16px;
    display: flex;
    align-items: center;
    min-height: 600px;
    // background: #1e1a1a; // Вставить изображение
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 255, 255, 0) 25%
      ),
      url("@/shared/assets/imgs/xbox_8192_qhd.png");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 32px;
    margin-bottom: 128px;
  
    &__cta {
      gap: 16px;
      display: flex;
      flex-direction: column;
    }
    &__title {
      font-size: 32px;
      font-weight: 700;
    }
    &__subtitle {
      font-size: 96px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  