$aside-background: var(--foreground, rgba(255, 255, 255, 0.05));

.main {
  min-height: 480px;
  max-height: 960px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  padding: 16px;
  background: $aside-background;
}
