@import url(../../root.module.scss);

:root {
  // Background
  --bg: #101010;
  --bg-button: #F77F00; // button color
  --bg-logo: #F77F00; // logo color

  // Color
  --c-button-text: #fff; // button text
  --c-link-text: #7d7d7d; // link text
  --c-link-text-hover: #fff; // link text hover
  --c-link-text-active: #363636; // link text active
}

.header {
  margin: 0 auto;
  position: fixed;
  margin-top: 16px;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  width: var(--w, 1440px);
  min-width: 1440px;
  max-width: 1440px;
  padding: var(--p_8);
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  border-radius: var(--r_16);
  border: 1px solid rgba(255, 255, 255, 0.16);
  background: var(--bg);

  &__logo {
    display: flex;
    height: 64px;
    width: 64px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: var(--g_8);
    background: var(--bg-logo);

    &__img {
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: var(--g_32);
    align-self: stretch;

    &__link {
      display: flex;
      padding: var(--p_16);
      justify-content: center;
      align-items: center;

      border-radius: var(--r_8);

      color: var(--c-link-text);
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;

      &:hover {
        color: var(--c-button-text-hover);
      }

      &:focus {
        color: var(--c-button-text-hover);
        border-radius: var(--r_8);
        background: var(--c-link-text-active);
      }

      &.active {
        color: var(--c-button-text-hover);
        border-radius: var(--r_8);
        background: var(--c-link-text-active);
      }
    }
  }
  &__button {
    display: flex;
    min-width: 256px;
    min-height: 64px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: var(--r_8);
    background: var(--bg-button);

    color: var(--c-button-text);
    font-weight: 700;
    text-transform: uppercase;
  }
}
