#root {
  --w: 1440px; // width header
  --m-w: 1440px; // max width header
  --h: 64px; // height header
  --m-h: 64px; // max height header

  // Padding
  --p_4: 4px;
  --p_8: 8px;
  --p_16: 16px;
  --p_32: 32px;

  // Gap
  --g_4: 4px;
  --g_8: 8px;
  --g_16: 16px;
  --g_32: 32px;

  // Border Radius
  --r_4: 4px;
  --r_8: 8px;
  --r_16: 16px;
  --r_32: 32px;

  // Background
  --bg: #101010;

  // Color
  --b-c: #009eff; // button color
  --l-c: #009eff; // logo color
}

.header {
  display: flex;
  width: var(--w, 1440px);
  min-width: 1440px;
  max-width: 1440px;
  padding: var(--p_8, 8px);
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  border-radius: var(--r_16, 16px);
  border: 1px solid rgba(255, 255, 255, 0.16);
  background: var(--bg, #101010);

  &__logo {
    display: flex;
    height: 64px;
    width: 64px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: var(--g_8, 8px);
    background: var(--l-c, #009eff);

    &__img {
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: var(--g_32, 32px);
    align-self: stretch;

    &__link {
      display: flex;
      padding: var(--p_16, 16px);
      justify-content: center;
      align-items: center;

      border-radius: var(--r_8, 8px);
    }
  }
  &__button {
    display: flex;
    min-width: 256px;
    min-height: 64px;
    padding: var(--p_8, 8px);
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: var(--r_8, 8px);
    background: var(--b-c, #009eff);
  }
}
