#root {
  max-width: 1920px;
  margin: auto;
}

:root {
  color-scheme: light dark;
  background-color: #101010;
  /* color: rgba(255, 255, 255, 0.87); */
  color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

* {
  font-family: "Onest", sans-serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}

.container {
  width: 1440px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.container2 {
  max-width: 1920px;
  margin-left: 16px;
  margin-right: 16px;

  justify-content: space-between;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

hr {
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.16);
  width: 100%;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 16px;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
