.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  &__title {
    font-size: 48px;
    font-weight: 700;
  }
  &__subtitle {
    font-size: 24px;
    font-weight: 700;
    opacity: 0.5;
  }
  &__wrapper {
    width: 100%;
    display: flex;
    padding: var(--p_16, 16px);
    gap: var(--g_32, 32px);
  }
  &__info {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1;

    border-radius: var(--CornerRadius-r8, 8px);
    background: rgba($color: #1E1A1A, $alpha: 0.5);
    &__title {
      font-size: 24px;
      font-weight: 700;
    }
    &__subtitle {
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      opacity: 0.5;
    }
  }
}
