.popup {
    &__container {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: .4);
    }
    &__wrapper {
        border: 1px solid white;
        border-radius: 8px;
        padding: 16px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}