.footer {
  padding: 16px 0;
  display: flex;
  &__info {
    &__left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
    &__right {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 16px;
      &__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100%;
        opacity: 0.5;
      }
    }
    &__text {
    }
    &__social {
      display: flex;
      height: 64px;
      width: 64px;
      padding: var(--p_16, 16px);
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: var(--r_16, 16px);
      background: rgba(46, 47, 51, 0.5);
      transition: background 0.1s ease-out;
      cursor: pointer;
      &:hover {
        background: rgba(46, 47, 51, 0.8);
      }
      &__img {
        width: 32px;
        height: 32px;
      }
    }
  }
}
