// switch.module.scss

.root {
    width: 42px;
    height: 25px;
    background-color: #fff;
    border-radius: 9999px;
    position: relative;
    cursor: pointer;
  }
  
  .root.focus-visible {
    outline: 2px solid #000; 
  }
  
  .root[data-state="checked"] {
    background-color: black;
  }
  
  .thumb {
    display: block;
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 9999px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: transform 100ms;
    transform: translateX(2px);
    will-change: transform;
  }
  
  .root[data-state="checked"] .thumb {
    transform: translateX(19px);
  }
  