:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #101010;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

* {
  font-family: "Onest", sans-serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}

.container {
  width: 1440px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;
  justify-content: space-between;
}

.container2 {
  max-width: 1920px;
  margin-left: 16px;
  margin-right: 16px;

  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-rows: auto auto;
  grid-gap: 16px;
  max-width: 1920px;
  margin: 16px;
  align-items: flex-start;
}

.grid-header {
  grid-column: span 2; /* Занимает обе колонки */
}

.grid-aside {
  height: calc(100dvh - 146px);
  /* min-height: calc(100dvh - 146px);  */
}

.grid-aside,
.grid-main {
  grid-column: span 1; /* Занимают по одной колонке */
  /* height: calc(100dvh - 146px);  */
  /* min-height: calc(100dvh - 146px); */
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

hr {
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.16);
  width: 100%;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 16px;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

.active {
  background: rgba(51, 213, 223, 0.3);
  outline: 2px solid rgba(255, 255, 255, 0.4);
}


/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 31 100% 48%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
} */
