$aside-background: var(--foreground, rgba(255, 255, 255, 0.05));

.main {
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  background: $aside-background;
  height: 100%;

  &__container {
    display: flex;
    // justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  }

  &__sblock {
    border-left: 1px solid rgba(255, 255, 255, 0.16);
  }

  &__title,
  &__sblock {
    padding: 16px;
    font-size: 24px;
    font-weight: 700;
  }

  &__wrapper {
    padding: 16px;
  }
}
